<<<<<<< HEAD
*{
     margin:15px;
}
    body{
        background-image: url("musicsym.jpeg");
        background-repeat: repeat;
        background-size:800px;
    }
.navbar{
    over-flow:auto;
    
}
.navbar a{
    border-radius: 15px 50px;
    background-color: rgb(200, 99, 195);
    padding: 30px;
    width: 2000px;
    height:1500px;
}
.navbar a:hover {
    background-color: blueviolet;
    color: aqua;
}
.icon{
    font-size: 50px;
    color: rgb(145, 193, 12);
    text-align: center;
}
=======
*{
     margin:15px;
}
    body{
        background-image: url("musicsym.jpeg");
        background-repeat: repeat;
        background-size:800px;
    }
.navbar{
    over-flow:auto;
    
}
.navbar a{
    border-radius: 15px 50px;
    background-color: rgb(200, 99, 195);
    padding: 30px;
    width: 2000px;
    height:1500px;
}
.navbar a:hover {
    background-color: blueviolet;
    color: aqua;
}
.icon{
    font-size: 50px;
    color: rgb(145, 193, 12);
    text-align: center;
}
>>>>>>> 47c5e079aabaf655c081712b58362e7efec85f29
